<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>


<body>
    {{>navbar}}
    
    <!--Main header-->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/ai-for-weather-forecasting.png" alt="weather" class="img-fluid"
                                title="Weather">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the Weather Site</p>
                        <h1>Get the Latest <span class="text-clr">Weather</span> Info of Your City</h1>
                        <a href="https://weather.com/en-IN/" target="_blank"><button>About</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Footer -->
    {{>footer}}
</body>

</html>